.home{
  background-image: url("images/code.jpg");
  background-position: center ;
  background-size: cover;
  color: white
}
.title{
  color: #4D28B7;
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
}
.logo{
  color: #ACAAFF;
}
.linking{
  position: relative;
  top:30px;
  left:200px;
}
.grace h1{
  font-size: 48px;
  position: relative;
}
.grace h2{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
.grace{
  position: relative;
  left: -100px;
  top: 40px;
}
a{
  color: white;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
#nav-btn{
  background-color: #984BA5;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
  font-family:  'Poppins', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 40px;
}
.home-body{
  display: flex;
  justify-content: space-around;
}
.cv-btn{
  font-family:  'Poppins', sans-serif;
  background: rgba(196, 196, 196, 0.5);
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 40px;
  border:none;
  float: right;
  position: relative;
  top:-80px;
}
;cv-btn:hover{
  border: 1px solid #984BA5 ;
  background: #984BA5;
  transition: 1s;
}
i{
  color: black;
}
.about-me{
  margin-top: 20px;
}
.about-text{
  text-align: center;
}
.about-text h1, .projects h1{
  font-family: 'Noto Serif', serif;
  color: #362D5A;
}
.about-text hr, .projects hr{
  width: 15%;  
  height: 2px;   
  background-color: #362D5A;
  border-width: 4px;  
  margin: auto  ;
}
.about-text p{
  margin-top: 10px;
  font-family: 'Cormorant', serif;
  font-size: 28px;
  width: 80%;
  margin:auto;
}
.education, .job{
  background: rgba(0, 0, 0, 0.54);
  position: relative;
  top:80px;
  left:80px;
}
.card-title{
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 36px;
  color: white;
}
.card hr{
  width: 50%;  
  height: 2px;   
  background-color: red;
  border-width: 2px;  
  position: relative;
  left: -100px;
}
.card-text{
  font-family: 'Roboto', sans-serif;
  color: white;
}
.two{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
.skills{
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
.skills h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
}
.skills-c{
  width: 200px;
  border: none;
}
.figma{
  height: 35vh;
}
.btn{
 padding: 20px 60px;
 text-align: center;
 margin: auto;
 position: relative;
 left: 30%;
}
.projects{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bg-project.jpg);
  /* background-position: center; */
  background-size: contain;
  position: relative;
}
.projects hr {
  background-color: white;
  position: relative;
  top:-10px;
}
.projects h1{
  text-align: center;
  margin-top: 20px;
  color: white;
}
.contact{
  margin: 80px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0, 0.7)), url(images/software\ dev.png);
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  text-align: center;
  padding: 100px 0;
}
.contact-butn{
  text-decoration: none;
  border: 1px solid white;
  color: white;
  padding: 15px 40px;
  font-size: 12px;
  background: transparent;
}
.contact-butn:hover{
  background-color: #984BA5;
}
.contact h1{
  color: white;
  margin-bottom: 40px;
  padding: 0;
}
#back-abt{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/about-me\ bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* footer */
.footer{  
  text-align: center;
  padding: 25px 0;
}
.icons .fa{
  color:#f44336;
  margin: 0 15px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart-o{
  color:#f44336;
}
.reviews{
  width: 80%;
  height: 80vh;
  margin: auto;
  background-color: black;
}
.reviews h1{
  text-align: center;
  color: white;
  font-family: 'Cormorant', serif;
}
.reviewing img{
  width: 100px;
  height: 100px;
}
.reviewing{
  background-color: #ffffff;
  border-radius: 5px;
  margin-right:3%;
  padding: 30px;
  text-align: center; 
}
.stars i{
  color: #E1651F;
}
.review-content p:nth-child(2){
  font-family: 'Poppins', sans-serif;
}
.review-content h4{
  font-family: 'Oleo Script Swash Caps', cursive;
}