.home{
  background-image: url("images/code.jpg");
  background-position: center ;
  background-size: cover;
  color: white
}
.grace h1{
  font-size: 48px;
  position: relative;
}
.grace h2{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
.grace{
  position: relative;
  left: -100px;
  top: 40px;
}
a{
  color: white;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
#nav-btn{
  background-color: #984BA5;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
  font-family:  'Poppins', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 40px;
}
.home-body{
  display: flex;
  justify-content: space-around;
}
.btn{
font-family:  'Poppins', sans-serif;
background: rgba(196, 196, 196, 0.5);
font-size: 24px;
border-radius: 40px;
border:none;
}
i{
  color: black;
}