.home{
  background-image: url("images/code.jpg");
  background-position: center ;
}
a{
  color: white;
}
#nav-btn{
  background-color: #984BA5;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
  font-family:  'Poppins', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 20px;
}
.home-body{
  display: flex;
  justify-content: space-around;
}